In [4]:
pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\kirub\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\kirub\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: pymysql in c:\users\kirub\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kirub\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kirub\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kirub\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kirub\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kirub\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kirub\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\kirub\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load the CSV file into a Pandas DataFrame
csv_file_path = r'C:\Users\kirub\OneDrive\Desktop\dataspark\full_merge.csv'
df = pd.read_csv(csv_file_path)

# Step 2: Create a connection to the MySQL database
# Replace 'username', 'password', and 'localhost' with your MySQL credentials and host
database_name = 'data_spark'
connection_string = "mysql+pymysql://root:Kiru%402000@localhost:3306/data_spark"

# Step 3: Upload the DataFrame to MySQL
table_name = 'full_merge_table'  # Name of the table where data will be inserted
try:
    df.to_sql(name="full_merge_table", con=connection_string, if_exists='replace', index=False)
    print(f"Data uploaded successfully to table '{table_name}' in database '{database_name}'.")
except Exception as e:
    print(f"An error occurred: {e}")

Data uploaded successfully to table 'full_merge_table' in database 'data_spark'.

In [5]:
# Step 1: Load CSV into a DataFrame
csv_file_path = r'C:\Users\kirub\OneDrive\Desktop\dataspark\full_merge.csv'
full_merge_df = pd.read_csv(csv_file_path)

In [11]:
csv_file_path1 = r'C:\Users\kirub\OneDrive\Desktop\dataspark\Customers_data.csv'
Customers_data_df = pd.read_csv(csv_file_path1)

In [13]:
csv_file_path2 = r'C:\Users\kirub\OneDrive\Desktop\dataspark\Exchange_rates.csv'
Exchange_rates_df = pd.read_csv(csv_file_path2)

In [15]:
csv_file_path3 = r'C:\Users\kirub\OneDrive\Desktop\dataspark\Product_data.csv'
Product_data_df = pd.read_csv(csv_file_path3)

In [17]:
csv_file_path4 = r'C:\Users\kirub\OneDrive\Desktop\dataspark\Sales_data.csv'
Sales_data_df = pd.read_csv(csv_file_path4)

In [19]:
csv_file_path5 = r'C:\Users\kirub\OneDrive\Desktop\dataspark\Stores_data.csv'
Stores_data_df = pd.read_csv(csv_file_path5)

In [31]:
full_merge_df.to_sql(
    'full_merge_table',  # Target table name
    con=connection_string,  # SQLAlchemy engine object
    if_exists='replace',  # Replace the table if it already exists
    index=False  # Do not include the DataFrame index as a table column
)
print("Data successfully loaded into the SQL table 'full_merge_table'.")

Data successfully loaded into the SQL table 'full_merge_table'.

In [ ]:
Exchange_rates_df.to_sql(
    'Exchange_rates_table',  # Target table name
    con=connection_string,  # SQLAlchemy engine object
    if_exists='replace',  # Replace the table if it already exists
    index=False  # Do not include the DataFrame index as a table column
)
print("Data successfully loaded into the SQL table 'Exchange_rates_table'.")

In [ ]:
Customers_data_df.to_sql(
    'Customers_table',  # Target table name
    con=connection_string,  # SQLAlchemy engine object
    if_exists='replace',  # Replace the table if it already exists
    index=False  # Do not include the DataFrame index as a table column
)
print("Data successfully loaded into the SQL table 'Customers_table'.")

In [ ]:
Product_data_df.to_sql(
    'Product_table',  # Target table name
    con=connection_string,  # SQLAlchemy engine object
    if_exists='replace',  # Replace the table if it already exists
    index=False  # Do not include the DataFrame index as a table column
)
print("Data successfully loaded into the SQL table 'Product_table'.")

In [ ]:
Sales_data_df.to_sql(
    'Sales_table',  # Target table name
    con=connection_string,  # SQLAlchemy engine object
    if_exists='replace',  # Replace the table if it already exists
    index=False  # Do not include the DataFrame index as a table column
)
print("Data successfully loaded into the SQL table 'Sales_table'.")

In [ ]:
Stores_data_df.to_sql(
    'Stores_table',  # Target table name
    con=connection_string,  # SQLAlchemy engine object
    if_exists='replace',  # Replace the table if it already exists
    index=False  # Do not include the DataFrame index as a table column
)
print("Data successfully loaded into the SQL table 'Stores_table'.")